#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
header{
  display: flex;
  justify-content: center;
  gap: 5%;
  border-bottom: 2px whitesmoke solid;
  padding: 2%;
  margin-bottom: 10px;
}
input{
  border-radius: 10px;
  outline: none;
  border: 2px whitesmoke solid ;
  padding-inline: 8px;
}
tbody { 
  margin-top: 11px;
}
.thead tr{
  font-size: 1.2rem;
  color: rgb(180, 180, 178);
}
.thead tr th{
  cursor: pointer;
}
.thead tr th:hover{
  color: rgb(114, 114, 220);
}


.contImg{
  display: flex;
  justify-self: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
}
.contImg img{
  width: 100%;
  height: 100%;
}
